.loader-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.58);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5555;
}

.loader-inner {
    max-width: 141px;
    background: #fff;
    border-radius: 5px;
    padding: 5px;
    transition: all 0.5s ease;
    animation: blink 1s linear alternate infinite;
}


@keyframes blink {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.8);
    }
}