@media screen and(max-width:1100px) {
  .home-main-slider-small-titile {
    margin-top: 1% !important;
  }

  //   .order-md-1 {
  //     order: 1;
  //   }
  //   .order-md-2 {
  //     order: 2;
  //   }
}

@media screen and (max-width: 800px) {
  .home-slider-wrapper .slick-arrow {
    bottom: auto;
    top: 417px;
  }
}

@media screen and (max-width: 600px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 150px 150px;
    grid-gap: 5px;
  }

  .slider-wrapper-home {
    margin-top: 17px;
  }

  .home-main-slider-big-titile {
    font-size: 36px !important;
    line-height: 47px !important;
    margin: 17px 0px 20px 0px !important;
  }

  .home-main-slider-small-titile {
    font-size: 12px !important;
  }

  .home-main-slider-small-titile {
    line-height: 26px !important;
  }

  .home-slider-btn-wrapper {
    margin-bottom: 20px;
  }

  .home-slider-wrapper .slick-arrow {
    display: none;
  }

  .title_with_btn {
    margin-bottom: 23px;
    margin-top: 31px;
  }

  .title_with_btn h5 {
    margin-right: 5px;
    font-size: 23px;
    letter-spacing: 3px;
    margin-bottom: 10px;
  }

  .review-slider-component-wrapper {
    padding: 10% 0%;
  }

  .cmn-tabs_wrapper {
    margin-left: 0px;
  }

  .xs-wrape {
    flex-wrap: wrap;
  }

  .cmn-categotybtn {
    padding: 6px 6px !important;
    white-space: pre-wrap !important;
  }

  .home_special_request_image {
    max-width: 323px;
  }

  .spacer {
    height: 10px !important;
  }

  .servicesBox {
    margin: 13% 0px 8% 0px;
  }

  .servicesBox>.MuiBox-root {
    justify-content: center !important;
  }

  .category-image-with-btn button span {
    font-size: 11px !important;
  }

  .review-title-slider {
    font-weight: bold !important;
    font-size: 19px !important;
    line-height: 33px !important;
  }

  .reviewe-name-slider {
    font-size: 15px !important;
    line-height: 27px !important;
    letter-spacing: 3px !important;
    color: #4b462e !important;
  }

  .customer-review-slidersetting {
    text-align: center;
    padding-bottom: 3px;
  }

  .wrape-sm {
    flex-wrap: wrap;
  }

  .cmn-pages-title-only {
    font-size: 15px !important;
    color: #222 !important;
    line-height: 25px !important;
  }

  .MuiDialog-paper {
    margin: 7px !important;
    position: relative;
    overflow-y: auto;
  }
}