* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #fff !important;
}
.active_link {
  color: #e8656b !important;
  font-weight: 800;
}
//  home arrow
.home-slider-arrow {
  top: 400px !important;
  z-index: 5;
  position: absolute;
  opacity: 0.7;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 3px;
  transition: all 0.3s ease;
  line-height: 0;
  font-size: 0;
  &:hover {
    opacity: 1;
    border: 1px solid #e8656b;
  }
}
.home-next-arrow {
  left: 113px;
}
.home-pre-arrow {
  left: 1px;
}

.cmn-btncolor {
  background-color: #e8656b !important;
  color: #fff !important;
}
.MuiBadge-colorSecondary {
  background-color: #e8656b !important;
}
.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 300px 300px;
  grid-gap: 10px;
}

.single-grid {
  transition: opacity 0.8s ease;
}

.single-grid:hover {
  filter: opacity(0.7);
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0);
  visibility: hidden;
  transition: all 0.3s ease;
}

.modal.open {
  visibility: visible;
  transform: scale(1);
  z-index: 5;
}

.blowupimage-container {
  position: relative;
}
.w-1 {
  grid-column: span 1;
}
.w-2 {
  grid-column: span 2;
}
.h-1 {
  grid-row: span 1;
}
.h-2 {
  grid-row: span 2;
}
.single-grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.close-icon {
  position: absolute;
  right: -30px;
  top: 1px;
  z-index: 55;
  color: #fff;
  border: 1px solid #fff;
  font-size: 28px;
}
