* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #fff !important;
}
.active_link {
  color: #e8656b !important;
  font-weight: 800;
}
.cmn-btncolor {
  background-color: #e8656b !important;
  color: #fff !important;
}
.MuiBadge-colorSecondary {
  background-color: #e8656b !important;
}
